body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.login-form {
  border:1px solid red;
}

.TownSearch
{
  border:1px solid red;
}


.Login {
	width: 500px;
	margin: auto;
}
.demoForm {
	width: 500px;
	margin: auto;
}

.bus-seat{
  border: 1px solid gray;
  width: 25px;
  height: 25px;
}
.Bus{
  width:250;
  height: 350;
}