
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #CDD7E3;
  margin: 0;
  font-family: sans-serif;
}
#logo{
    width: 50px;
    height: 50px;
   
}
.navbar{
    background-color: rgb(108, 167, 240);
    color:white;
}
.nav-item{
    color:white;
}
.main-row{
}
.bus-img{
    width: 100%;
    height: 100%;
    margin-top: 30px ;
    border-radius: 20px;
   
 }
#contain
{ 
    padding-bottom:7%;
}

.Login {
    width: 500px;
    margin: auto;
}
.search{
   border: 1px solid rgb(228, 225, 225);
    border-radius: 20px;
}
.search h2{
    text-align: center;
    font-size: 23px;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 500;
    color:#E67F20;
}
.search button{
    background-color: rgb(108, 167, 240);
    color:white;
}
.demoForm {
    width: 500px;
    margin: auto;
}

.seats-selector {
    position: relative;
}

.seats-selector .seats-container {
    position: absolute;
    top: 200px;
    left: 45px;
}

.bus-row {
    min-height: 35px;
}
.bus-seats {
    width:87px;
}
.bus-seats:last-child {
    text-align:right;
}

.bus-seat {
    cursor:pointer;
    border: 1px solid gray;
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
    margin: 0 1px;
    color: #fff;
    background-color:#7e7d7d;
    font-size: 12px;
    border-bottom: 5px solid #2d2d2d;
}

.bus-seat:nth-child(3) {
    margin-left:23px;
}


.bus-seat-reserved {
    background-color: #980303;
    pointer-events: none;
}

.bus-seat-selected {
    background-color:#2483F7;
}


.seats-main{  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
    padding: 10px;
    background-color:white; 
   padding-left: 50px;
}
.seats-main h2 {
    color:#E67F20;
    font-size: 29px;
    text-align: center;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-weight: 600;
}
 h5{
    color: #000000;
    text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.seats-content{
    float: left;
   
}
.booking-details {
    float: left;
    padding: 50px;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}
.checkout-button {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    background:#E67F20;
    border: none;
    color: #fff;
    padding: 11px 23px;
    outline: none;
	cursor:pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.free{
    border: #980303;
    background-color: #2483F7;
    height: 32px;
    width: 32px;
    line-height: 31px;	
}

.contactInfo .container *{
    box-sizing: border-box;
}
.contactInfo .container form{
    border-radius: 7px;
    margin: 6px 8px;
    padding: 6px 8px;
    background-color: rgb(45, 186, 218);
}

.contactInfo .container form input,select,textarea{
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background-color:white;  
    color:white;
}

.contactInfo .container form  label {
    padding: 10px 10px 20px 0;
    display: inline-block;
    color:white;
}
.contactInfo .container form input[type=submit] {
    background-color:floralwhite;
    color: #2483F7;
    padding: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom:6px;
}

.contactInfo .container form input[type=submit]:hover {
    background-color:floralwhite;
}

.company{

    color:#BBBD2A;
    text-align: center;
    font-size: 500%;
    margin: 10px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

footer {
    color: #fff;
    text-align: center;
    margin: 20px;
}
.btn-log{
    margin:5px;
}
.search{
    padding: 20px;
}

.person-img{
    width: 50%;
    height: 50%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 10px;
  }
  .profile h2{
      text-align: center;
     
  }